@inject ISurveyData surveyData

<EditForm Model = "@surveyModel" OnValidSubmit="@HandleSubmit">
    <InputNumber @bind-Value="questionNumber" style="-webkit-appearance: none"></InputNumber>

</EditForm>
<div class="mainDiv">
    <div class="container">
        <h3 class="p-3 text-center">Reports List: </h3>
        <div class="scroll">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>QuestionID</th>
                        <th>Question Text</th>
                        <th>Response</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var SurveyModel in surveyQuestion)
                    {
                        @if(@SurveyModel.surveyID == questionNumber)
                        {
                            addQuestions(@SurveyModel.response);
                            @if (@SurveyModel.response == 1)
                            {
                                incrementOne();
                            }
                            @if (@SurveyModel.response == 2)
                            {
                                incrementTwo();
                            }
                            @if (@SurveyModel.response == 3)
                            {
                                incrementThree();
                            }
                            @if (@SurveyModel.response == 4)
                            {
                                incrementFour();
                            }
                            @if (@SurveyModel.response == 5)
                            {
                                incrementFive();
                            }

                             <tr>
                                <td>@SurveyModel.surveyID</td>
                                <td>@SurveyModel.question</td>
                                <td>@SurveyModel.response</td>
                            </tr>                             
                        }                      
                    }
                </tbody>
            </table>
            <h2>Response Average: @getAverage(@totalResponse, @totalQuestions)</h2>
            <PieChartHolder firstNum="firstNum" secondNum="secondNum" thirdNum="thirdNum" fourthNum="fourthNum" fifthNum="fifthNum"></PieChartHolder>        
        </div>

    </div>
</div>

@code {
    [Parameter]
    public List<SurveyModel> surveyQuestion{ get; set; }

    public int firstNum, secondNum, thirdNum, fourthNum, fifthNum = 0;
    private SurveyModel surveyModel = new SurveyModel();
    private int questionNumber;
    private int totalQuestions;
    private int totalResponse;
    private double average;


    // Functions to increment the response for each number
    private void incrementOne()
    {
        firstNum++;
    }
    private void incrementTwo()
    {
        secondNum++;
    }
    private void incrementThree()
    {
        thirdNum++;
    }
    private void incrementFour()
    {
        fourthNum++;
    }
    private void incrementFive()
    {
        fifthNum++  ;
    }
    // When submitted, clear the local variables
    private void HandleSubmit()
    {
        totalQuestions = 0;
        totalResponse = 0;
        average = 0;
        firstNum = 0;
        secondNum = 0;
        thirdNum = 0;
        fourthNum = 0;
        fifthNum = 0;

    }
    // Functions for figuring out the average response amongst the list
    private void addQuestions(int response)
    {
        totalQuestions++;
        totalResponse += response;
    }
    private double getAverage(int totalResponse, int totalQuestions)
    {
        if (totalResponse != 0 && totalQuestions != 0)
        {
            average = (double)totalResponse / (double)totalQuestions;            
        }
        return average;
    }
}
