@inject ISurveyData surveyData
@inject NavigationManager navManager

<EditForm Model = "@surveyModel" OnValidSubmit="@HandleSubmit">
    <InputDate @bind-Value="fromDate" />
    <InputDate @bind-Value="toDate"></InputDate>
</EditForm>
<h2>@fromDate</h2>
<div class="mainDiv">
    <div class="container">
        <h3 class="p-3 text-center">Reports List: </h3>
        <div class="scroll">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>QuestionID</th>
                        <th>Question Text</th>
                        <th>Response</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var SurveyModel in surveyQuestion)
                    {
                        @if (@SurveyModel.date > @fromDate && @SurveyModel.date < @toDate)
                        {
                            @if(@SurveyModel.question != null)
                            {
                             <tr>
                                <td>@SurveyModel.surveyID</td>
                                <td>@SurveyModel.question</td>
                                <td>@SurveyModel.response</td>
                            </tr>                                
                            }
                           
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<SurveyModel> surveyQuestion{ get; set; }
    private SurveyModel surveyModel = new SurveyModel();
    DateTime fromDate = DateTime.Now;
    DateTime toDate = DateTime.Now;

    public string firstString, secondString = "";

    private void HandleSubmit()
    {
        
    }

}