@page "/Reports"
@attribute [Authorize]
@inject ISurveyData surveyData
@inject IUserData userData
@inject AuthenticationStateProvider authProvider

<div class="mainDiv">
    <h1>Reports</h1>
    <div style = "text-align: center;"> 
    <font COLOR="#ffffff">
    <!--Survey questions hidden by default-->
        <div style="padding-top: 50px">



    <button class="renderButton" @onclick=ShowCategories>Category Reports</button>
    <button class="renderButton" @onclick=ShowAll>All Reports</button>
    <button class="renderButton" @onclick=ShowDateRange>Show Reports by Date</button>
    <button class="renderButton" @onclick=ShowIndividualQuestions>Show Individual Questions</button>
    <button class="renderButton" @onclick=ShowTextResponses>Show Text Response Questions</button>
     <AuthorizeView Policy="TeamLeader">
        <Authorized>
                <button class="btn-primary" @onclick=ShowTeam>Show Team Reports</button>
        </Authorized>
    </AuthorizeView>

    <div class="reportComponent" style="display: @showCategories">
            <SpaceForceEvaluations.Components.CategoriesReport></SpaceForceEvaluations.Components.CategoriesReport>  
    </div>

    <div class ="reportComponent scroll" style="display: @showAll">
            <SpaceForceEvaluations.Components.ShowAllReportsHolder surveyQuestion="@surveyQuestion"></SpaceForceEvaluations.Components.ShowAllReportsHolder>   
    </div>

    <div class="reportComponent" style="display: @showDateRange">
        <SpaceForceEvaluations.Components.SurveyTakenInRange surveyQuestion="@surveyQuestion"></SpaceForceEvaluations.Components.SurveyTakenInRange>
    </div>
    <div class="reportComponent" style="display: @showIndividuals">
        <SpaceForceEvaluations.Components.IndividualQuestionsReportsHolder surveyQuestion="@surveyQuestion"></SpaceForceEvaluations.Components.IndividualQuestionsReportsHolder>
    </div>
    <div class="reportComponent" style="display: @showTextResponses">
        <SpaceForceEvaluations.Components.TextResponseReportHolder surveyQuestion="@surveyQuestion"></SpaceForceEvaluations.Components.TextResponseReportHolder>
    </div>

   <AuthorizeView Policy="TeamLeader">
       <Authorized>
                <div class="" style="display: @showTeam">
                    <SpaceForceEvaluations.Components.TeamAccoladesReportHolder></SpaceForceEvaluations.Components.TeamAccoladesReportHolder>
                </div>

                <div class="container" style="display: @showTeam">
                    <h3 class="p-3 text-center">Reports List: </h3>
                    <div class="scroll">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>QuestionID</th>
                                    <th>Question Text</th>
                                    <th>Taker Name</th>
                                    <th>Response</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var SurveyModel in teamQuestions)
                                {
                                    <tr>
                                            <td>@SurveyModel.surveyID</td>
                                            <td>@SurveyModel.question</td>
                                            <td>@SurveyModel.name</td>
                                            <td>@SurveyModel.response</td>
                                    </tr>                               
                                }                                   
                            </tbody>
                        </table>
                    </div>
                </div>
        </Authorized>
    </AuthorizeView>
        </div>
    </font>
    </div>
</div>

@code {

    string showTeam = "none";
    private string teamID;
    public bool disableButton = false;
    public string showCategories = "none";
    public string showAll = "none";
    public string showDateRange = "none";
    public string showIndividuals = "none";
    public string showTextResponses = "none";
    public bool shouldRender = true;
    private SurveyModel surveyModel = new SurveyModel();

    // create a new list of survey models called survey question
    List<SurveyModel> surveyQuestion = new List<SurveyModel>();
    List<SurveyModel> teamQuestions = new List<SurveyModel>();
    List<SurveyModel> categoryQuestions = new List<SurveyModel>();

    // Functions to show and hide buttons
    private void ShowDateRange()
    {
        if (showDateRange == "none")
        {
            showDateRange = "";
            showAll = "none";
            showTeam = "none";
            showCategories = "none";
            showIndividuals = "none"; 
            showTextResponses = "none";  
        }
        else
        {
            showDateRange = "none";
        }
    }
    private void ShowCategories()
    {
        if (showCategories == "none")
        {
            showCategories = "";
            showAll = "none";
            showTeam = "none";
            showDateRange = "none";
            showIndividuals = "none"; 
            showTextResponses = "none";  
        }
        else
        {
            showCategories = "none";
        }
    }

    private void ShowAll()
    {
        if (showAll == "none")
        {
            showAll = "";
            showTeam = "none";
            showCategories = "none";
            showDateRange = "none";
            showIndividuals = "none"; 
            showTextResponses = "none";  
        }
        else
        {
            showAll = "none";
        }
    }
    private async Task ShowTeam()
    {
        if (showTeam=="none")
        {
            showTeam = "";
            showAll = "none";
            showCategories = "none";
            showDateRange = "none";
            showIndividuals = "none";  
            showTextResponses = "none";  
        }
        else
        {
            showTeam = "none";          
        }
    }

    private async Task ShowIndividualQuestions()
    {
        if (showIndividuals=="none")
        {
            showIndividuals = "";
            showAll = "none";
            showCategories = "none";
            showDateRange = "none";
            showTeam = "none";
            showTextResponses = "none";                      

        }
        else
        {
            showIndividuals = "none";
        }

    }
    private async Task ShowTextResponses()
    {
        if (showTextResponses=="none")
        {
            showTextResponses = "";
            showAll = "none";
            showCategories = "none";
            showDateRange = "none";
            showTeam = "none";
            showIndividuals = "none"; 
        }
        else
        {
            showTextResponses = "none";          
        }

    }

    // Function to get a list of all surveys completed
    private async Task<List<SurveyModel>> GetAllSurveys()
    {
        var results = await surveyData.GetAllSurveys();
        surveyQuestion = results.ToList();
        return surveyQuestion;
    }

    // On page load
    protected override async Task OnInitializedAsync()
    {

        await GetAllSurveys();
        await GetLogin();
        await GetTeamSurveys();
    }

    // Function to get the current logged in user. 
    private async Task GetLogin()
    {
        UserModel currentUser = await AuthenticationStateProviderHelpers.GetUserFromAuth(authProvider, userData);
        teamID = currentUser.teamID;
    }
    // Function to get a list of all team surveys.
    private async Task <List<SurveyModel>> GetTeamSurveys()
    {
        var teamSurveys = await surveyData.GetSurveysByTeam(teamID);
        teamQuestions = teamSurveys.ToList();
        return teamQuestions;
    }
}
