@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject ISurveyData surveyData
@inject IGeneratedSurveyData generatedSurveyData

<MudDialog>
    <DialogContent>
        <div>
            <MudTextField @bind-Value="categoryValue" Label="Enter Question..." Variant="Variant.Outlined" />

            <MudSelect @bind-Value="surveyValue" T=" string" Label="Select Survey Type..." AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value="@("Daily")" />
                <MudSelectItem Value="@("Weekly")" />
                <MudSelectItem Value="@("Monthly")" />
            </MudSelect>

        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Disabled="@onSelect()" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Info" OnClick="() => Submit()">Send</MudButton>
    </DialogActions>
</MudDialog>
@code {


    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public UserModel selectedUser { get; set; }
    [Parameter] public UserModel currentUser { get; set; }
    public List<UserModel> possibleSubjects = new();
    public UserModel selectedSubject;
    private string categoryValue { get; set; }
    private string surveyValue { get; set; }
    string surveyId = "a";
    bool allowSubmit = true;


    //void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();

    async Task Submit()
    {
        await fillInjectedQuestions();
        MudDialog.Close(DialogResult.Ok(true));
    }

    bool onSelect()
    {
        if (categoryValue != null && surveyValue != null)
        {
            return false;
        }
        else
        {
            return true;
        }
    }


    async Task fillInjectedQuestions()
    {
        List<GeneratedSurveyModel> surveyList = await generatedSurveyData.GetGeneratedSurveysbyUser(selectedUser.userID);

        if (surveyList.Count == 0)
        {
            GeneratedSurveyModel newGeneratedSurvey = new GeneratedSurveyModel();

            // Daily
            newGeneratedSurvey.surveyType = "Daily";
            newGeneratedSurvey.takerID = selectedUser.userID;
            newGeneratedSurvey.date_administered = DateTime.Now;
            newGeneratedSurvey.date_taken = DateTime.Now;
            newGeneratedSurvey.generatedQuestions = new List<string>();
            newGeneratedSurvey.injectedQuestions = new List<string>();
            newGeneratedSurvey.userReportStats = new List<string>();
            await generatedSurveyData.CreateGeneratedSurvey(newGeneratedSurvey);

            // Weekly
            newGeneratedSurvey = new GeneratedSurveyModel();
            newGeneratedSurvey.surveyType = "Weekly";
            newGeneratedSurvey.takerID = selectedUser.userID;
            newGeneratedSurvey.date_administered = DateTime.Now;
            newGeneratedSurvey.date_taken = DateTime.Now;
            newGeneratedSurvey.generatedQuestions = new List<string>();
            newGeneratedSurvey.injectedQuestions = new List<string>();
            newGeneratedSurvey.userReportStats = new List<string>();
            await generatedSurveyData.CreateGeneratedSurvey(newGeneratedSurvey);

            // Monthly
            newGeneratedSurvey = new GeneratedSurveyModel();
            newGeneratedSurvey.surveyType = "Monthly";
            newGeneratedSurvey.takerID = selectedUser.userID;
            newGeneratedSurvey.date_administered = DateTime.Now;
            newGeneratedSurvey.date_taken = DateTime.Now;
            newGeneratedSurvey.generatedQuestions = new List<string>();
            newGeneratedSurvey.injectedQuestions = new List<string>();
            newGeneratedSurvey.userReportStats = new List<string>();
            await generatedSurveyData.CreateGeneratedSurvey(newGeneratedSurvey);

            surveyList = await generatedSurveyData.GetGeneratedSurveysbyUser(selectedUser.userID);
            Console.WriteLine(surveyList.Count.ToString());
        }

        foreach (GeneratedSurveyModel s in surveyList)
        {
            if (s.surveyType == surveyValue)
            {
                List<string> tmp = new List<string>();
                s.injectedQuestions.Add(categoryValue);
                await generatedSurveyData.UpdateGeneratedSurvey(s);
            }
        }
    }


    protected async override Task OnInitializedAsync()
    {
        possibleSubjects = await userData.GetUsersByEvaluator(selectedUser.userID);
    }
}