@page "/Weekly"
@attribute [Authorize]
@inject IDailyQuestionsData questionData
<PageTitle>Weekly</PageTitle>

<div class="mainDiv">
    @if (numOfQuestions == 1)
    {
         <SpaceForceEvaluations.Components.DailyQuestionHolder questionType="@questionType"></SpaceForceEvaluations.Components.DailyQuestionHolder>   
    }
    @if (numOfQuestions == 2)
    {
         <SpaceForceEvaluations.Components.DailyQuestionHolder questionType="@questionType"></SpaceForceEvaluations.Components.DailyQuestionHolder>   
         <SpaceForceEvaluations.Components.DailyQuestionHolder questionType="@questionType"></SpaceForceEvaluations.Components.DailyQuestionHolder>
    }
    @if (numOfQuestions == 3)
    {
        <SpaceForceEvaluations.Components.DailyQuestionHolder questionType="@questionType"></SpaceForceEvaluations.Components.DailyQuestionHolder>
        <SpaceForceEvaluations.Components.DailyQuestionHolder questionType="@questionType"></SpaceForceEvaluations.Components.DailyQuestionHolder>
        <SpaceForceEvaluations.Components.DailyQuestionHolder questionType="@questionType"></SpaceForceEvaluations.Components.DailyQuestionHolder>
    
    }
    <div><button type="submit" onclick="location.href='/'">Complete Survey</button></div>
</div>

@code {
    public int numOfQuestions;
    public string questionType = "Weekly";


    private async Task GenerateNumber()
    {
        Random rnd = new Random();
        numOfQuestions = rnd.Next(1, 4);
    }

    protected override async Task OnInitializedAsync()
    {
        await GenerateNumber();
    }

}
